<!-- extend from base layout -->
{% extends "boot_base.html" %}
{% block title %}List Dummy{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Flask Starter</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">

          <ul class="nav navbar-nav">

            <li class="active">
                <a href="/">Home</a>
            </li>
              <li>
                <a href="/dummies">New Dummy</a>
            </li>

          </ul>



          <ul class="nav navbar-nav navbar-right">



          </ul>



        </div>
      </nav>
{% endblock %}



{% block body %}


<h1>{{ header }} List</h1>
<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>name</th>
                <th>message</th>
                <th>owner</th>

            </tr>
        </thead>
        <tbody>

            {% for item in items %}
            <tr class="">
                <td><a href="/dummy/{{item._id}}" class="btn btn-success">{{item._id}}</a></td>

                <td>{{ item.attribute('message') }}</td>
                <td>{{ item.attribute('user_id') }}</td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>




{% endblock %}