<!-- extend from base layout -->
{% extends "boot_base.html" %}
{% block title %}Edit Dummy{% endblock %}
{% import 'macros.html' as macros %}


{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">piqs extractor</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">

          <ul class="nav navbar-nav">

            <li class="active">
                <a href="/">Home</a>
            </li>
              <li>
                <a href="/dummy_list">dummies List</a>
            </li>

          </ul>



          <ul class="nav navbar-nav navbar-right">



          </ul>



        </div>
      </nav>
{% endblock %}



{% block body %}
  <h1>Edit {{ header }}</h1>

    <div class="your-form">
        {{ macros.render_form( form, action_url='', action_text='Submit') }}
    </div>

{% endblock %}