{% extends "bootstrap/base.html" %}
{% block title %}Base{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Flask Starter</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">


           <ul class="nav navbar-nav">
              {% for item in nav.top %}
                <li class="{{ 'active' if item.is_active else '' }}">
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
              {% endfor %}
          </ul>
         <ul class="nav navbar-nav navbar-right">

              {% if user.is_authenticated %}
                 <li><a href="/logout">logout</a></li>
              {% else %}
                 <li><a href="/login">login</a></li>
              {% endif %}
          </ul>

        </div>
  </nav>

{% endblock %}


{% block body %}
  <h1>Home</h1>


  {% if user.is_authenticated %}
     <p>welcome {{user.attribute('name') }}</p>
  {% else %}
     <p>welcome anonymus</p>
  {% endif %}

{% endblock %}
