{% extends "bootstrap/base.html" %}
{% block title %}Signin Page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block body %}
  <h1>Sign In</h1>

<form action="" class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        <div class="heading">
        <h4 class="form-heading"></h4>
        </div>


        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
        {{form.username.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{form.username(placeholder="username", class="form-control")}}
        </div>
        <p class="col-sm-5 help-block">
        {{ form.username.errors[0] }}

        </div>



        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
        {{form.password.label(class="col-sm-4")}}
        <div class="col-sm-3">
        {{ form.password(placeholder="password", class="form-control") }}
        </div>
        <p class="col-sm-5 help-block">
        {{ form.password.errors[0] }}

        </div>



        <button class="btn btn-success" type="submit">Sign In</button>
</form>

{% endblock %}
